 saudade_web  git init                                                                                                               ✔  22:03:27 
git add .
git commit -m "primer commit"
git remote add origin https://github.com/ggronda/saudade.git
git branch -M main
git push -u origin main
Initialized empty Git repository in /Users/T056880/Documents/saudade_web/.git/
[main (root-commit) 7c3a41a] primer commit
 73 files changed, 5521 insertions(+)
 create mode 100644 .vscode/settings.json
 create mode 100644 explicativa.html
 create mode 100644 fichas.html
 create mode 100644 fragmentos.html
 create mode 100644 publicacion.html
 create mode 100644 resources/.DS_Store
 create mode 100644 resources/SD/sd_10.png
 create mode 100644 resources/SD/sd_12.png
 create mode 100644 resources/SD/sd_14.png
 create mode 100644 resources/SD/sd_16.png
 create mode 100644 resources/SD/sd_18.png
 create mode 100644 resources/SD/sd_2.png
 create mode 100644 resources/SD/sd_20.png
 create mode 100644 resources/SD/sd_22.png
 create mode 100644 resources/SD/sd_24.png
 create mode 100644 resources/SD/sd_26.png
 create mode 100644 resources/SD/sd_28.png
 create mode 100644 resources/SD/sd_30.png
 create mode 100644 resources/SD/sd_32.png
 create mode 100644 resources/SD/sd_34.png
 create mode 100644 resources/SD/sd_36.png
 create mode 100644 resources/SD/sd_38.png
 create mode 100644 resources/SD/sd_4.png
 create mode 100644 resources/SD/sd_40.png
 create mode 100644 resources/SD/sd_42.png
 create mode 100644 resources/SD/sd_44.png
 create mode 100644 resources/SD/sd_46.png
 create mode 100644 resources/SD/sd_48.png
 create mode 100644 resources/SD/sd_50.png
 create mode 100644 resources/SD/sd_52.png
 create mode 100644 resources/SD/sd_54.png
 create mode 100644 resources/SD/sd_56.png
 create mode 100644 resources/SD/sd_58.png
 create mode 100644 resources/SD/sd_6.png
 create mode 100644 resources/SD/sd_60.png
 create mode 100644 resources/SD/sd_62.png
 create mode 100644 resources/SD/sd_64.png
 create mode 100644 resources/SD/sd_66.png
 create mode 100644 resources/SD/sd_68.png
 create mode 100644 resources/SD/sd_8.png
 create mode 100644 resources/fichas/.DS_Store
 create mode 100644 resources/fichas/ficha_06.png
 create mode 100644 resources/fichas/ficha_12.png
 create mode 100644 resources/fichas/ficha_13.png
 create mode 100644 resources/fichas/ficha_19.png
 create mode 100644 resources/fichas/ficha_20.png
 create mode 100644 resources/fichas/ficha_22.png
 create mode 100644 resources/fichas/ficha_23.png
 create mode 100644 resources/fichas/ficha_26.png
 create mode 100644 resources/fichas/ficha_30.png
 create mode 100644 resources/fichas/ficha_31.png
 create mode 100644 resources/fichas/ficha_36.png
 create mode 100644 resources/fichas/ficha_48.png
 create mode 100644 resources/fichas/ficha_49.png
 create mode 100644 resources/fichas/ficha_50.png
 create mode 100644 resources/fichas/ficha_52.png
 create mode 100644 resources/fichas/ficha_54.png
 create mode 100644 resources/fichas/ficha_55.png
 create mode 100644 resources/fondos/.DS_Store
 create mode 100644 resources/fondos/inicio_01.jpg
 create mode 100644 resources/fondos/inicio_02.jpg
 create mode 100644 resources/fondos/inicio_03.jpg
 create mode 100644 resources/fondos/inicio_04.jpg
 create mode 100644 resources/fondos/inicio_05.jpg
 create mode 100644 resources/fondos/inicio_06.jpg
 create mode 100644 resources/fondos/inicio_07.jpg
 create mode 100644 resources/libro/.DS_Store
 create mode 100644 saudade.html
 create mode 100644 saudade_libre.html
 create mode 100644 saudade_luca.html
 create mode 100644 test.html
 create mode 100644 test.py
 create mode 100644 test4.html
remote: Invalid username or token. Password authentication is not supported for Git operations.
fatal: Authentication failed for 'https://github.com/ggronda/saudade.git/'

 saudade_web  main  # Verifica que estás logueado                                                                         128 ✘  10s  22:03:45 
gh auth status

# Si no estás, logueate:
gh auth login

# Luego sube tu código:
git remote add origin https://github.com/ggronda/saudade.git
git branch -M main
git push -u origin main
zsh: command not found: gh
zsh: command not found: gh
error: remote origin already exists.
Enumerating objects: 81, done.
Counting objects: 100% (81/81), done.
Delta compression using up to 10 threads
Compressing objects: 100% (78/78), done.
Writing objects: 100% (81/81), 356.19 MiB | 5.66 MiB/s, done.
Total 81 (delta 5), reused 0 (delta 0), pack-reused 0 (from 0)
remote: Resolving deltas: 100% (5/5), done.
To https://github.com/ggronda/saudade.git
 * [new branch]      main -> main
branch 'main' set up to track 'origin/main'.

 saudade_web  main                                                                                                         ✔  1m 18s  22:05:45 